.navbar {
    height: 40px;
    box-shadow: 1px 1px 1px black;
    background-color:antiquewhite;
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    padding-left: 30px;
    align-items: center;
    padding-top: 30px;
    flex-wrap: wrap-reverse;
  }
  
  
  .navbar h1 {
    color: rgb(155, 6, 36);
  }
  
  .navbar ul {
    display: flex;
    gap: 30px;
    flex-wrap: wrap-reverse;
    font-size: 20px;
  }
  
  input {
    justify-content: end;
    flex-wrap: wrap-reverse;
  }
  
  button {
    background-color: rgb(238, 108, 134);
    color: white;
    border-radius: 5px;
    flex-wrap: wrap-reverse;
    justify-content: end;
  }